
 @import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital@1&display=swap');
.addtocart
{
    display:flex;
    align-items:center;
    justify-content:center;
}
.additem
{
    background-color:#6a994e;
    margin:20px 5px;
    height:30px;
    width:30px;
    color:#fff;
    border-radius:5px;
}
.agecategory
{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
}
.agegroup-item
{
    width:250px;
    height:350px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
   margin:20px;
   font-family: 'Ysabeau Office', sans-serif;
   font-size:1.1rem;
   padding-bottom:20px;
   background-color:#fcbf49;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn
{
    width:120px;
    margin:0px;
}
button
{
    width:200px;
    background-color:#e76f51;
    font-family: 'Ysabeau Office', sans-serif;
    height:40px;
    color:#fff;
    border:none;
    border-radius:10px;
    font-size:1.2rem;
}
button:active{
    background-color:#6a994e;
    
}